{% extends "base.html.twig" %}

{% block title %}
    Exo5
{% endblock %}
{% block style %}

</style>
{% endblock %}
{% block body %}
<h1>Eso5</h1>

<table style="border:2px white solid;width:100%;text-align:center;">
    {% set operations = ["Addition","Soustraction","Multiplication","Division"] %}
    {% set a,b,c,d = "10","11","12","15" %}
    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>Résultat</th>
    </tr>
    {% for i in 0..3 %}
    <tr>
        <td>{{ operations[i] }}</td>
        <td>{{ a }}</td>
        <td>{{ b }}</td>
        <td>{{ c }}</td>
        <td>{{ d }}</td>
        {% if i == 0 %}
            <td>{{ a + b + c + d }}</td>
        {% elseif i == 1 %}
            <td>{{ a - b - c - d }}</td>
        {% elseif i == 2 %}
            <td>{{ a * b * c * d }}</td>
            {% set c,d = "-1","-1" %}
        {% elseif i == 3 %}
            <td>{{ a / b }}</td>        
        {% endif %}
        {% set a = a+10 %}
        {% set c = c+1 %}
        {% set d = d+1 %}
    </tr>
    {% endfor %}

</table>

{% endblock %}