{% extends "base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
<h1> {{title}} </h1>
<p><a href="{{ path('view_index') }}">Retourner sur View index </a>

<ul>
    <li> {{ stagiaires[0] }} </li>
    <li> {{ stagiaires[1] }} </li>
    <li> {{ stagiaires[2] }} </li>
    <li> {{ stagiaires[3] }} </li>
    <li> {{ stagiaires[4] }} </li>
</ul>

{% endblock %}