{% extends "base.html.twig" %}

{% block title %}
	Utilisateurs
{% endblock %}


{% block body %}
	{% include "menu_user.html.twig" %}
	<h1>Utilisateur index</h1>
	<p>{{ form(ser_form) }}</p>
	<p class="box-links-v">
		{{ make_link("/utilisateur/","Index","new_link") }}
		{{ make_link("/utilisateur/index/archive","Archivés","new_link") }}
		{{ make_link("/utilisateur/index/nonpublie","Non publie","new_link") }}
	</a></p>
	<table>
		<tr>
			<th>Utilisateur</th>
			<th>Role</th>
			<th>Statut</th>
			<th></th>
			<th></th>
		</tr>

		{% for utilisateur in utilisateurs %}
			<tr>
				<td>
					<a href="{{ path('utilisateur_id', {'id':utilisateur.id}) }}">{{ utilisateur.civilite }}  {{ utilisateur.prenom }}
						{{ utilisateur.nom }}</a>
				</td>
				<td>
					{% for role in utilisateur.roles %}
						{{ role }}, 
					{% endfor %}

				</td>
				<td>
					{% if (utilisateur.statut == 1 ) %}
						Non publié
					{% elseif (utilisateur.statut == 2) %}
						Archivé 
					{% else %}
						Publié
					{% endif %}
				</td>
				<td>
					<a href="{{ path('utilisateur_edit',{'id':utilisateur.id} ) }}">Modifier</a>
				</td>
				<td>
					<a id="Del" href="{{ path('utilisateur_delete',{'id':utilisateur.id} ) }}">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}
