{% extends "base.html.twig" %}

{% block title %}
    {{ auteur.nom ~ " " ~ auteur.prenom }}
{% endblock %}

{% block body %}
    <h1>Auteur {{ auteur.id }}</h1>
    <p>Nom : {{ auteur.nom }}</p>
    <p>Prenom : {{ auteur.prenom }}</p>
    <p>E-mail : {{ auteur.email }}</p>

    <h2>Les articles créés par cet auteur</h2>
    <ul>
    {% for article in auteur.articles %}
        <li><a href="{{ path('article_id', {'id':article.id})}}">{{ article.titre }}</a></li>
    {% endfor %}
{% endblock %}