{% extends "base.html.twig" %}

{% block title %}
    {{ auteur.nom ~ " " ~ auteur.prenom }}
{% endblock %}

{% block body %}
    <h1>Auteur {{ auteur.id }}</h1>
    <p>Nom : {{ auteur.nom }}</p>
    <p>Prenom : {{ auteur.prenom }}</p>
    <p>E-mail : {{ auteur.email }}</p>
    
{% endblock %}