{% extends "base.html.twig" %}

{% block title %} Articles {% endblock %}

{% block body %}
{% include "menu_user.html.twig" %}
<h1>Articles index</h1>
{# <p><a href="{{ path('article_nouvelarticle') }}" class="new_link">Créer un nouvel article</a></p> #}
<p>{{ make_link('/article/nouvelarticle','Nouvel article','new_link') }}</p>
{{ form(ser_form) }}
{{ knp_pagination_render(articles) }}
<table>
    <tr>
        {# <th>ID</th> #}
        <th>TITRE</th>
        <th>Catégorie</th>
        <th>Auteur</th>
        <th>RESUME</th>
        <th>STATUT</th>
        <th><th>
        <th><th>
        {# <th>DATE</th> #}
    </tr>
    
    {% for article in articles %}
    <tr>
        
        {# <td> {{ article.id }} </td> #}
        <td><a href="{{ path('article_id', {'slug':article.slug} ) }}">{{ article.titre }} </a></td>
        <td><a href="{{ path ('categorie_id', {'id':article.categorie.id})}}">{{article.categorie.titre }}</a></td>
        <td><a href="{{ path ('auteur_id', {'id':article.auteur.id})}}">{{ article.auteur.nom }} {{ article.auteur.prenom }}</a></td>
        <td> {{ article.resume }} </td>
        <td>
            {% if (article.statut == 1) %}
                Non Publié
            {% elseif (article.statut == 2) %}
                Archivé
            {% else %}
                Publié
            {% endif %}
            
        </td>
        <td><a href="{{ path('article_edit', {'id':article.id} ) }}">Modifier</a></td>
        <td><a href="{{ path('article_delete', {'id':article.id} ) }}">Supprimer</a></td>
        {# <td> {{ article.date | date("d/m/Y") }} </td> #}
        
    </tr>
    
    {% endfor %}
</table>

{{ knp_pagination_render(articles) }}

{% endblock %}


    